<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charjuqeset=UTF-8"/>
    <title></title>
    <meta name="viewport" content="width = device-width, user-scalable=no
      minimum-scale=1.0 maximum-scale=1.0">
    <%= javascript_include_tag :defaults %>
    <%= yield :jquery %>
    <%= stylesheet_link_tag "delta" %>
</head>
<body>
<div class="viewport_body">
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:error] %></p>

    <img src="/images/bdi.png" width="136" height="50">
    <br>
    <div align="center" class="lmb_header"></div>

    <%= yield :toolbar %>
    <%= yield %>

    <% if logged_in? %>
        <div id="un_bottom">
            <div class="iphone_list">
                <div id="un_b1">
                </div>
            </div>
            <div id="un_copy">&copy;2009 ThoughtWorks<br/></div>
        </div>
    <%end%>
    
</div>
</body>
</html>